<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <!-- <%  if(buyer != undefined){ %>
        <% if(buyer === true){ %>
            <p>buyer</p>
       <%  } %>
  <%   } %>

    <% if(seller != undefined){ %>
       <%  if(seller === true){ %>
        <p>seller</p>
       <%  } %>
   <%  } %> -->


   <form action="/tests" method="post">
       <div>
            <input type="text" name="ram" value="ram">
       </div>
    <div style="display: none;">
        <input type="text" name="sai" value="sai">
    </div>
    <input type="submit" value="submit">
   </form>
</body>
</html>